.affiliates-list {
  position: relative;
  z-index: 2;
  &__title {
    color: #fff;
  }
  .form-control {
    margin-bottom: 10px;
  }
  .overflow-auto {
    height: 85vh;
  }
  .table {
    td {
      font-size: 1.4em;
    }
  }
}